<!DOCTYPE html>
//- Layout is optimized for width: 480px, height: 600px
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include base.css
      block styles
  body
    block body
