.group:not(:last-child) {
  margin-bottom: 1em;
}
.group .heading {
  display: flex;
  align-items: center;
  background-color: var(--dark-color-highlight);
  color: var(--light-color-highlight);
  padding: .125em 1em;
  margin-bottom: .5em;
}
.group .heading .rank {
  font-size: 120%;
  font-weight: bold;
}
.group .heading .rating {
  font-size: 110%;
  margin-left: 1em;
}
.group .body {
  margin: 0 1em;
}
.group .body .members {
  display: flex;
  flex-wrap: wrap;
}
.group .body .members .member {
  display: flex;
  flex: 0 50%;
  align-items: center;
}
.group .body .members .member .player-name {
  width: 10em;
  margin-left: 1em;
}
