html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto', 'Noto Sans CJK JP', sans-serif;
  padding: 1em;
  background-color: rgb(40, 42, 54);
  color: rgb(248, 248, 242);
}

.group:not(:last-child) {
  margin-bottom: 1em;
}
.group .heading {
  display: flex;
  align-items: center;
}
.group .heading .rank {
  font-size: 120%;
  font-weight: bold;
}
.group .heading .rating {
  font-size: 110%;
  margin-left: 1em;
}
.group .members {
  display: flex;
  flex-wrap: wrap;
}
.group .members .member {
  display: flex;
  flex: 0 50%;
  align-items: center;
}
.group .members .member .player-name {
  width: 10em;
  margin-left: 1em;
}
