.flex {
  display: flex;
  align-items: center;
}
.flex :first-child {
  margin-right: .5em;
}

.increased {
  color: var(--win-color);
}
.decreased {
  color: var(--lose-color);
}
.table-wrap {
  display: flex;
  align-items: center;
}
table {
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: var(--dark-color2);
}
tr:nth-child(even) {
  background-color: var(--dark-color3);
}
tr td {
  padding: .25em 0;
}
tr td:nth-child(1) {
  padding-left: 1.5em;
}
tr td:nth-child(4) {
  padding-left: 2em;
}
tr td:nth-child(2), tr td:nth-child(3) {
  padding-left: 1em;
}
td {
  vertical-align: middle;
}
